.search-container {
  position: relative;
  display: inline-block;
}

.search {
  padding: 8px 12px;
  padding-right: 36px; /* Make room for the icon on the right */
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px; /* Position on the right instead of left */
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none; /* This ensures clicks go through to the input */
}

.parent-container {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.parent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.breadcrumb {
  color: #888;
  font-size: 14px;
}

.search {
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 19px;
  font-size: 16px;
  text-align: right; /* aligns placeholder and input text to the right */
  background-color: #D9D9D9;
}

.table-row {
  background-color: #fff;
  border: 1px solid #eee;
}

.table-row .name {
  font-weight: 450;
  font-size: 14px;
  color: #000000;
}

.table-row .email {
  font-weight: 600;
  font-size: 14px;
  color: #414141;
}

.table-row .phone {
  font-weight: 550;
  font-size: 14px;
  color: #000000;
}

.table-row .type , .location {
  font-weight: 550;
  font-size: 14px;
  color: #000000;
}



